body {
    background: url(./img/background.png) repeat-x #fff;
}

.grid-big {
    margin: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.o-led {
    border-radius: .5rem;
}

.o-led #user-a {
    display: none;
    position: absolute;
    height: 4rem;
    width: 6rem;
    background: #73d2f3;
    margin-left: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
    border: 2px solid black;
    font-size: 2rem;
}

.o-led #arrow-a {
    display: none;
    position: absolute;
    height: .5rem;
    width: 11rem;
    margin-left: 8rem;
    margin-top: 3.5rem;
    background-color: black;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.o-led #triangle-right {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 18rem;
    margin-top: 2.8rem;
    border-top: 15px solid transparent;
    border-left: 30px solid black;
    border-bottom: 15px solid transparent;
}

.o-led #user-b {
    display: none;
    position: absolute;
    height: 4rem;
    width: 6rem;
    background: #73d2f3;
    margin-left: 21rem;
    margin-top: 2rem;
    border-radius: .5rem;
    border: 2px solid black;
    font-size: 2rem;
}

.o-led #arrow-b {
    display: none;
    position: absolute;
    margin-top: 7rem;
    margin-left: 23.75rem;
    ;
    height: 12rem;
    width: .5rem;
    background: black;
}

.o-led #triangle-down {
    display: none;
    position: absolute;
    margin-top: 18rem;
    margin-left: 23rem;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid black;
}

.o-led #user-c {
    display: none;
    position: absolute;
    height: 4rem;
    width: 6rem;
    background: #73d2f3;
    margin-left: 21rem;
    margin-top: 22rem;
    border-radius: .5rem;
    border: 2px solid black;
    font-size: 2rem;
}

.o-led #arrow-c {
    display: none;
    position: absolute;
    height: .5rem;
    width: 11rem;
    margin-left: 9rem;
    margin-top: 23.5rem;
    background-color: black;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.o-led #triangle-left {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 8rem;
    margin-top: 22.75rem;
    border-top: 15px solid transparent;
    border-right: 30px solid black;
    border-bottom: 15px solid transparent;
}

.o-led #user-d {
    display: none;
    position: absolute;
    height: 4rem;
    width: 6rem;
    background: #73d2f3;
    margin-left: 1rem;
    margin-top: 22rem;
    border-radius: .5rem;
    border: 2px solid black;
    font-size: 2rem;
}

.o-led #block-1 {
    line-height: 30px;
    display: none;
    color: white;
    position: absolute;
    border-radius: 5px;
    height: 2rem;
    width: 7rem;
    margin-top: 8rem;
    margin-left: 10rem;
    background: #73d2f3;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 2px grey;
}

.o-led #block-2 {
    display: none;
    color: white;
    position: absolute;
    line-height: 30px;
    height: 2rem;
    width: 7rem;
    margin-top: 11rem;
    margin-left: 10rem;
    background: #73d2f3;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    /* border: 1px solid black; */
}

.o-led #block-3 {
    display: none;
    line-height: 30px;
    position: absolute;
    color: white;
    height: 2rem;
    width: 7rem;
    margin-top: 14rem;
    margin-left: 10rem;
    background: #73d2f3;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    /* border: 1px solid black; */
}

.o-led #block-4 {
    display: none;
    position: absolute;
    height: 2rem;
    line-height: 30px;
    width: 7rem;
    margin-top: 17rem;
    margin-left: 10rem;
    color: white;
    background: #73d2f3;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    /* border: 1px solid black; */
}

.o-led #a-fas {
    /* font-size: 1.5rem; */
    display: none;
    position: absolute;
    margin-top: 10rem;
    margin-left: 12.5rem;
    transform: rotate(138deg);
}

.o-led #b-fas {
    /* font-size: 1.5rem; */
    display: none;
    position: absolute;
    margin-top: 13rem;
    margin-left: 12.5rem;
    transform: rotate(138deg);
}

.o-led #c-fas {
    /* font-size: 1.5rem; */
    display: none;
    position: absolute;
    margin-top: 16rem;
    margin-left: 12.5rem;
    transform: rotate(138deg);
}

.o-led .instructions {
    position: absolute;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 140%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
}

.step-1 {
    position: absolute;
    margin-top: -22%;
    display: none;
    margin-left: 58%;
}

.step-2 {
    margin-top: -20%;
    margin-left: 58%;
    display: none;
}

.step-3 {
    display: none;
    margin-top: -18%;
    margin-left: 58%;
}

.step-4 {
    display: none;
    margin-top: -16%;
    margin-left: 58%;
}

.step-5 {
    display: none;
    margin-top: -14%;
    margin-left: 58%;
}

.strt-line {
    height: 20rem;
    border-left: 2px dotted blue;
    margin-top: 2%;
    margin-left: 50%;
}

.o-led .typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
.etypewriter {
    display:none;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 1s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 29em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

.showcase {
    background-color: aliceblue;
    height: 35rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.726);
}

.o-led .o-btn {
    display: block;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}

/* ======================== GLOBAL CSS START =========================== */

.navbar {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid #e6e6e6;
}

.button {
    position: absolute;
    background: lightskyblue;
    display: inline-block;
    color: #fff;
    padding: 0.8rem 1.7rem;
    overflow: hidden;
    /* position: relative; */
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background: #3dbeff;
    text-decoration: none;
    color: #fff;
}

/* .but {
    padding: 0.5rem 1rem;
    background: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 0.2rem solid #fff;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.3s;
    cursor:pointer;
}

.but:hover {
    background: #3dbeff;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 0 0.1rem #3dbeff;
} */

.control-prev {
    position: absolute;
    bottom: .9rem;
    left: 1.3rem;
}

.control-next {
    position: absolute;
    bottom: .9rem;
    right: 1rem;
}

.headingz {
    position: relative;
    width: 100%;
    text-align: center;
}

.headingz h2 {
    margin: 0px 0px 15px 0px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    padding: 0px 0px 20px 0px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    color: #000;
}

.headingz h2:before {
    content: "";
    width: 150px;
    border-bottom: dashed 1px #b7b7b7;
    height: 2px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px;
}

.headingz p {
    font-size: 14px;
    color: #949494;
    margin: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.headingz span.left, .headingz span.right {
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 100%;
    background-color: #db2d14;
    position: absolute;
    left: 27%;
    bottom: -4px;
}

.headingz span.right {
    left: auto;
    right: 27%;
}
.scene {
    width: 100%;
    min-height: 38rem;
    position: relative;
    padding: 1rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.scene-heading {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.8rem;
    background: #d60505bb;
    color: #333;
    position: absolute;
    font-weight: bold;
    width: auto;
    border: 1px solid #444;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.scene-heading:hover {
    color: #eee;
}

/* ======================== GLOBAL CSS STOP =========================== */

/* ================ DISTRIBUTED LEDGER START ======================== */

#chap-carasouel {
    border: 1px solid #dfdfdf;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.disLedger {
    margin-top: 1rem;
}

.disLedger.hidden {
    display: none;
}

.disLedger-node {
    font-size: 0.8rem;
}

.disLedger .card-header {
    background: #fed86f;
    color: #963;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-style: "Open Sans", sans-serif;
    text-align: center;
}

.disLedger .card-header:hover {
    background: #58504b;
    color: #fff;
}

.typewriter-container {
    position: absolute;
    top:6rem;
    left:2rem;
}

.disledger-anims {
    height: 18rem;
    width: 100%;
    position: relative;
}

.newTrans {
    position: relative;
    z-index: 1;
}

.newTrans:after {
    content: "New Valid Transaction";
    position: absolute;
    font-size: 0.5rem;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addTrans {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

/* ================ DISTRIBUTED LEDGER END ======================== */

/**********************Mining CSS Starts***********************/

.col-4 h2, p, h3, h5, h6 {
    color: black;
    text-align: justify;
}

.col-4 h3 {
    text-align: center;
}

.blockc {
    opacity: 0;
}

.btn-class {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 4px 1px 18px -1px #276873; */
    background-color: #599bb3;
    -moz-border-radius: 17px;
    border-radius: 17px;
    margin: auto auto 11px auto;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 24px;
    display: block;
    text-decoration: none;
    text-shadow: 1px 0px 50px #3d768a;
}
/* 
#Show0 {
    position: absolute;
    left: 50%;
    padding: 0.5rem 1rem;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
} */

.heading {
    /* background-color: #387BEB; */
    border: 0.5px solid black;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.block {
    border-radius: 0.5rem;
    background-color: #85C1E9;
    text-align: center;
    margin-top:1rem;
    padding:0.5rem;    
}

.block p {   
    text-align: center;  
}


.block h5 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

hr {
    height: 100%;
    color: solid black;
}

.typewriter h5 {
    display: none;
    color: rgb(15, 15, 15);
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    text-align:left;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: rgb(253, 253, 252)
    }
}

/********************MIning CSS Ends***************************/

/**************************** Timer************************** */

#shiva {
    color: #2874A6;
    font-size: 40px;
    /* text-align: center; */
    position: absolute;
    right:2rem;
    top:2rem;
}

/******************************Timer******************************/